<h1>New User Request</h1>
<% if notice %>
  <div><%= notice %></div>
<% end %>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :firstname, "First name:" %><br>
    <%= form.text_field :firstname %>
    <% @user.errors.full_messages_for(:firstname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :lastname, "Last name:" %><br>
    <%= form.text_field :lastname %>
    <% @user.errors.full_messages_for(:lastname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :birthdate, "Date of Birth:" %><br>
    <%= form.date_field :birthdate %>
    <% @user.errors.full_messages_for(:birthdate).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url, "A URL to post this information to:" %><br>
    <%= form.url_field :url %>
    <% @user.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
